
.lobj {
  color: #005CE6;
  font-weight: bold;
}
.lobj14 {
  color: #669900;
  font-weight: bold;
}
font.ex {
  color: #B20000
}
div.ex {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: #F5F5F5;
}
div.cols {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2;  /* Firefox */
  column-count: 2;
}